body
{
    background-color: whitesmoke;
    background-image: url("wallpaper.png");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover
background-size 100% 10%;}

.sobremim {
    background-image: url("sobremim.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#perfil:hover {opacity: 0;
    transition: opacity .25s linear;
}
h1 {
    opacity: 0.85;   
    filter: drop-shadow(10px 10px 10px gray
    );

}
#wpp:hover{filter: brightness(0);}
#twitter:hover{filter: brightness(0);transition: filter 0.15s linear}
#insta:hover{filter: brightness(0);transition: filter 0.15s linear}
#linkedin:hover{filter: brightness(0);transition: filter 0.15s linear}
#email:hover{filter: brightness(0); transition: filter 0.15s linear}
